* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.my-footer {
  height: 5em;
  background-color: #163b65;
  padding: 1em;
  margin-top: 1.5em;
  color: #ffffff;
  font-size: 80%;
}

.content {
  min-height: calc(100vh - 8.5em);
}

.notie-container {
  box-shadow: none;
}

.datepicker {
  z-index: 10000;
}
