{{template "admin" .}}

{{define "css"}}
<style>
  label {
    font-weight: bold;
  }
</style>
{{end}}

{{define "page-title"}}
Reservation
{{end}}

{{define "content"}}
{{$res := index .Data "reservation"}}
{{$src := index .StringMap "src"}}
<div class="col-md-12">
  <p>
    Show Reservation
    <hr>
    <strong>Name:</strong> : {{$res.FirstName}} {{$res.LastName}} <br>
    <strong>Arrival:</strong> : {{formatDate $res.StartDate}} <br>
    <strong>Departure:</strong> : {{formatDate $res.EndDate}} <br>
    <strong>Room:</strong> : {{$res.Room.RoomName}} <br>
  </p>

  <form action="/admin/reservations/{{$src}}/{{$res.ID}}" method="post" novalidate class="">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

    <div class="form-group">
      <label for="first_name">First Name:</label>
      {{with .Form}}
      <label class="text-danger">{{ .Errors.Get "first_name"}}</label>
      {{end}}
      <input class='form-control {{with .Form}} {{ if .Errors.Get "first_name" }} is-invalid {{end}} {{end}}'
        id="first_name" autocomplete="off" type='email' name='first_name' value="{{$res.FirstName}}" required>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name:</label>
      {{with .Form}}
      <label class="text-danger">{{ .Errors.Get "last_name"}}</label>
      {{end}}
      <input class='form-control {{with .Form}} {{ if .Errors.Get "last_name" }} is-invalid {{end}} {{end}}'
        id="last_name" autocomplete="off" type='email' name='last_name' value="{{$res.LastName}}" required>
    </div>

    <div class="form-group">
      <label for="phone">Phone:</label>
      {{with .Form}}
      <label class="text-danger">{{ .Errors.Get "phone"}}</label>
      {{end}}
      <input class='form-control {{with .Form}} {{ if .Errors.Get "phone" }} is-invalid {{end}} {{end}}' id="phone"
        autocomplete="off" type='email' name='phone' value="{{$res.Phone}}" required>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      {{with .Form}}
      <label class="text-danger">{{ .Errors.Get "email"}}</label>
      {{end}}
      <input class='form-control {{with .Form}} {{ if .Errors.Get "email" }} is-invalid {{end}} {{end}}' id="email"
        autocomplete="off" type='email' name='email' value="{{$res.Email}}" required>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/admin/reservations-{{$src}}" class="btn btn-warning">Cancel</a>
  </form>
</div>
{{end}}